.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 20px;
    padding: 20px;
}

.image-item {
    text-align: center; /* Centers text under the image */
}

.image-item img {
    width: 10vw; /* You can adjust the size */
    height: 20vh;
    object-fit: contain;
    margin-left: 12vh;
    border: 2px solid black;
    padding: 5vh;
    border-radius: 30px
}

.image-item p {
    margin-top: 10px;
    font-size: 16px;
    margin-left: 12vh;
    color: #333;
}
