.container {
    width: 50%;
    margin: 5vh;
    background-color: #f8f9fa;
    padding: 2.5vh;
    border-radius: 2em;
    height: 67.5vh;
}

.container1{
    height: 50%;
}

.container2 {
    margin: 2.5vh;
    display: flex;
    justify-content: center;
    height: 2vh;
}

.label{
    font-size: large;
}

.container3 {
    margin-top: auto;
    display: flex;
    justify-content: center; /* Optional: Center the button horizontally */
    align-items: flex-end; /* Align button to the bottom */
}